## 07-pyspark-rdd-map.py

In [0]:
# 07-pyspark-rdd-map.py
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('PySparkExamples').getOrCreate()

data = ["Apple", "Pineapple", "Guava", "Carrot", "Lemon", "Banana", "Apple", "Pineapple",
        "Carrot", "Lemon", "Banana", "Apple", "Pineapple"]

rdd = spark.sparkContext.parallelize(data)

rdd2 = rdd.map(lambda x: (x,1))
print (rdd2.collect())
for element in rdd2.collect():
    print(element)

[('Apple', 1), ('Pineapple', 1), ('Guava', 1), ('Carrot', 1), ('Lemon', 1), ('Banana', 1), ('Apple', 1), ('Pineapple', 1), ('Carrot', 1), ('Lemon', 1), ('Banana', 1), ('Apple', 1), ('Pineapple', 1)]
('Apple', 1)
('Pineapple', 1)
('Guava', 1)
('Carrot', 1)
('Lemon', 1)
('Banana', 1)
('Apple', 1)
('Pineapple', 1)
('Carrot', 1)
('Lemon', 1)
('Banana', 1)
('Apple', 1)
('Pineapple', 1)

In [0]:
data = [('Kamal', 'Dasgupta', 'M', 30),
        ('Sanjib', 'Das', 'F', 41),
        ('Bidhun', 'Biswas', 'M', 62)]

columns = ["Firstname", "Lastname", "Gender", "Salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()

+---------+--------+------+------+
|Firstname|Lastname|Gender|Salary|
+---------+--------+------+------+
|    Kamal|Dasgupta|     M|    30|
|   Sanjib|     Das|     F|    41|
|   Bidhun|  Biswas|     M|    62|
+---------+--------+------+------+

In [0]:
rdd2 = df.rdd.map(lambda x: (x[0] + ", " + x[1], x[2], x[3] * 2))  
df2 = rdd2.toDF(["Name", "Gender", "New_Salary"])
df2.show()

+---------------+------+----------+
|           Name|Gender|New_Salary|
+---------------+------+----------+
|Kamal, Dasgupta|     M|        60|
|    Sanjib, Das|     F|        82|
| Bidhun, Biswas|     M|       124|
+---------------+------+----------+

In [0]:
#Referring Column Names
rdd2 = df.rdd.map(lambda x: 
    (x["Firstname"] + ", " + x["Lastname"], x["Gender"], x["Salary"] * 2)
    ) 
df2 = rdd2.toDF(["Name", "Gender", "New_Salary"])
df2.show()

+---------------+------+----------+
|           Name|Gender|New_Salary|
+---------------+------+----------+
|Kamal, Dasgupta|     M|        60|
|    Sanjib, Das|     F|        82|
| Bidhun, Biswas|     M|       124|
+---------------+------+----------+

In [0]:
#Referring Column Names
rdd2 = df.rdd.map(lambda x: 
    (x.Firstname + ", " + x.Lastname, x.Gender, x.Salary * 2)
    )
print (type(rdd2))
df2 = rdd2.toDF(["Name", "Gender", "New_Salary"])
df2.show()

<class 'pyspark.rdd.PipelinedRDD'>
+---------------+------+----------+
|           Name|Gender|New_Salary|
+---------------+------+----------+
|Kamal, Dasgupta|     M|        60|
|    Sanjib, Das|     F|        82|
| Bidhun, Biswas|     M|       124|
+---------------+------+----------+

In [0]:
def func1(x):
    row_firstName = x.Firstname
    row_lastName = x.Lastname
    row_name = row_firstName + ", " + row_lastName
    row_gender = x.Gender.lower()
    row_salary = x.Salary * 2
    return (row_name, row_gender, row_salary)

df.rdd.map(lambda x: func1(x)).toDF(["Name", "Gender", "New_Salary"]).show()
df.rdd.map(func1).toDF(["Name", "Gender", "New_Salary"]).show()

+---------------+------+----------+
|           Name|Gender|New_Salary|
+---------------+------+----------+
|Kamal, Dasgupta|     m|        60|
|    Sanjib, Das|     f|        82|
| Bidhun, Biswas|     m|       124|
+---------------+------+----------+

+---------------+------+----------+
|           Name|Gender|New_Salary|
+---------------+------+----------+
|Kamal, Dasgupta|     m|        60|
|    Sanjib, Das|     f|        82|
| Bidhun, Biswas|     m|       124|
+---------------+------+----------+