### Database Handling with Python

In [1]:
# creation of a Database
# importing the required modules
import sqlite3
try:
    # use the database if it pre-exists or create a new one
    connection = sqlite3.connect("myemp.db")
    # as "myemp.db" is a databse file so extension .db has been provided
except exception as ex:
    print ("Error type ->", type(ex))
    print ("Error message ->", ex)
else:
    print ("Connection with the database has been completed successfully...")
print ("End of this section...")

Connection with the database has been completed successfully...
End of this section...

> Open the SQLite online manager from "https://extendsclass.com/sqlite-browser.html"

In [2]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = """
         CREATE TABLE employee (
             emp_id INTEGER PRIMARY KEY,
             emp_name TEXT,
             emp_city TEXT,
             emp_salary REAL
         );
         """
try:    # create the table if it does not pre-exist
    connection.execute(sqlStr)
except exception as ex:
    print ("Error Type ->", type(ex))
    print ("Error message ->", ex)
else:
    print ("The table has been created successfully...")
print ("End of this section...")

The table has been created successfully...
End of this section...

In [11]:
# inserting records from the csv file and writing it to the database employee table
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id}, {emp_name}, {emp_city}, {emp_salary}')"
# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader is to read data from the csv file with , as a delimiter
    print (csv_reader)
    print (list(csv_reader))
    print (len(list(csv_reader)))

<_csv.reader object at 0x00000200B1B28E80>
[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]
0

In [14]:
# inserting records from the csv file and writing it to the database employee table
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id}', '{emp_name}', '{emp_city}', '{emp_salary}');"
# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader is to read data from the csv file with , as a delimiter
    for row in csv_reader:
        print (row)
        connection.execute(sqlStr.format(emp_id=row[0], emp_name=row[1], emp_city=row[2], emp_salary=row[3]))
connection.commit()    # making the change permanent
print ("All records got inserted successfully into the employee table...")

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']
All records got inserted successfully into the employee table...

In [5]:
num1 = 100
num2 = 20
result = num1 + num2
print(f"{num1} + {num2} = {result}")
print("{fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = result))

100 + 20 = 120
100 + 20 = 120

In [15]:
# retrieving records from the database table
# SQL for fetching all the records from the employee table
sqlStr = "SELECT * FROM employee;"
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(sqlStr)
print (list(cur_table))

[(1001, 'Dhiman', 'Kolkata', 39000.0), (1002, 'Anupam', 'Kolkata', 25000.0), (1003, 'Subham', 'Mumbai', 36000.0), (1004, 'Dinesh', 'Chennai', 28000.0), (1005, 'Kakali', 'Mumbai', 25000.0), (1006, 'Bimal', 'Hyderabad', 30000.0), (1007, 'Tarun', 'Chennai', 17000.0), (1008, 'Rittik', 'Durgapur', 45000.0), (1009, 'Barun', 'Hyderabad', 39000.0), (1010, 'Utpal', 'Lucknow', 20000.0)]

In [16]:
# retrieving records from the database table
# SQL for fetching all the records from the employee table
sqlStr = "SELECT * FROM employee;"
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(sqlStr)
for row in cur_table:
    print(f"Emp-ID: {row[0]}, Emp-Name: {row[1]}, Emp-City: {row[2]}, Emp-Salary: {row[3]}...")

Emp-ID: 1001, Emp-Name: Dhiman, Emp-City: Kolkata, Emp-Salary: 39000.0...
Emp-ID: 1002, Emp-Name: Anupam, Emp-City: Kolkata, Emp-Salary: 25000.0...
Emp-ID: 1003, Emp-Name: Subham, Emp-City: Mumbai, Emp-Salary: 36000.0...
Emp-ID: 1004, Emp-Name: Dinesh, Emp-City: Chennai, Emp-Salary: 28000.0...
Emp-ID: 1005, Emp-Name: Kakali, Emp-City: Mumbai, Emp-Salary: 25000.0...
Emp-ID: 1006, Emp-Name: Bimal, Emp-City: Hyderabad, Emp-Salary: 30000.0...
Emp-ID: 1007, Emp-Name: Tarun, Emp-City: Chennai, Emp-Salary: 17000.0...
Emp-ID: 1008, Emp-Name: Rittik, Emp-City: Durgapur, Emp-Salary: 45000.0...
Emp-ID: 1009, Emp-Name: Barun, Emp-City: Hyderabad, Emp-Salary: 39000.0...
Emp-ID: 1010, Emp-Name: Utpal, Emp-City: Lucknow, Emp-Salary: 20000.0...

In [17]:
# Class Assignment - 1
# Fetch employee_name, salary and 10% TDS against salaries of all employees.
sqlStr = "SELECT emp_name, emp_salary, emp_salary * 0.10 from employee"
cur_table = connection.execute(sqlStr)
for row in cur_table:
    print(f"Emp-Name: {row[0]}, Emp-Salary: {row[1]} and Emp-TDS: {row[2]}...")

Emp-Name: Dhiman, Emp-Salary: 39000.0 and Emp-TDS: 3900.0...
Emp-Name: Anupam, Emp-Salary: 25000.0 and Emp-TDS: 2500.0...
Emp-Name: Subham, Emp-Salary: 36000.0 and Emp-TDS: 3600.0...
Emp-Name: Dinesh, Emp-Salary: 28000.0 and Emp-TDS: 2800.0...
Emp-Name: Kakali, Emp-Salary: 25000.0 and Emp-TDS: 2500.0...
Emp-Name: Bimal, Emp-Salary: 30000.0 and Emp-TDS: 3000.0...
Emp-Name: Tarun, Emp-Salary: 17000.0 and Emp-TDS: 1700.0...
Emp-Name: Rittik, Emp-Salary: 45000.0 and Emp-TDS: 4500.0...
Emp-Name: Barun, Emp-Salary: 39000.0 and Emp-TDS: 3900.0...
Emp-Name: Utpal, Emp-Salary: 20000.0 and Emp-TDS: 2000.0...

In [ ]:
# Class Assignment - 2
# Display city wise total, average, maximum and minimum salaries of all employees