### Database Handling with Python

In [1]:
# creation of a Database
# importing the required modules
import sqlite3
try:
    # use the database if it pre-exists or create a new one
    connection = sqlite3.connect("myemp.db")
    # as "myemp.db" is a databse file so extension .db has been provided
except exception as ex:
    print ("Error type ->", type(ex))
    print ("Error message ->", ex)
else:
    print ("Connection with the database has been completed successfully...")
print ("End of this section...")

Connection with the database has been completed successfully...
End of this section...

> Open the SQLite online manager from "https://extendsclass.com/sqlite-browser.html"

In [2]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = """
         CREATE TABLE employee (
             emp_id INTEGER PRIMARY KEY,
             emp_name TEXT,
             emp_city TEXT,
             emp_salary REAL
         );
         """
try:    # create the table if it does not pre-exist
    connection.execute(sqlStr)
except exception as ex:
    print ("Error Type ->", type(ex))
    print ("Error message ->", ex)
else:
    print ("The table has been created successfully...")
print ("End of this section...")

The table has been created successfully...
End of this section...

In [11]:
# inserting records from the csv file and writing it to the database employee table
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id}, {emp_name}, {emp_city}, {emp_salary}')"
# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader is to read data from the csv file with , as a delimiter
    print (csv_reader)
    print (list(csv_reader))
    print (len(list(csv_reader)))

<_csv.reader object at 0x00000200B1B28E80>
[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]
0

In [14]:
# inserting records from the csv file and writing it to the database employee table
import csv
sqlStr = "INSERT INTO employee VALUES ('{emp_id}', '{emp_name}', '{emp_city}', '{emp_salary}');"
# read lines from the csv file and store them into the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader is to read data from the csv file with , as a delimiter
    for row in csv_reader:
        print (row)
        connection.execute(sqlStr.format(emp_id=row[0], emp_name=row[1], emp_city=row[2], emp_salary=row[3]))
connection.commit()    # making the change permanent
print ("All records got inserted successfully into the employee table...")

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']
All records got inserted successfully into the employee table...

In [5]:
num1 = 100
num2 = 20
result = num1 + num2
print(f"{num1} + {num2} = {result}")
print("{fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = result))

100 + 20 = 120
100 + 20 = 120