#### Dealing with inbuilt Modules

In [14]:
import math
print (math.sin(0), math.cos(0), math.tan(0))
print (math.sqrt(100), 100 ** 0.5, math.pow(100, 0.5))
print (math.log(1024), math.log(1024, 10), math.log(1024, 2))
print (math.log10(1024), math.log2(1024))
# constants in math module
print (math.pi, math.e, math.tau)
print (math.dist([10, 20], [20, 40]))
print (math.gcd(140, 60), 140 * 60 / math.gcd(140, 60))
print (math.factorial(6), math.factorial(7))
print (abs(-10.4), abs(10.4))

0.0 1.0 0.0
10.0 10.0 10.0
6.931471805599453 3.0102999566398116 10.0
3.010299956639812 10.0
3.141592653589793 2.718281828459045 6.283185307179586
22.360679774997898
20 420.0
720 5040
10.4 10.4

In [16]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
help(math)

In [19]:
import calendar
calendar.prcal(2023)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [22]:
print (type(calendar.prcal))

<class 'method'>

In [28]:
import numpy as np
num1=100
print (np.where(num1 % 2 == 0, "Even", "Odd"))
print ("Even" if (num1 % 2 == 0) else "Odd")
print ()
num1 = 101
print (np.where(num1 % 2 == 0, "Even", "Odd"))
print ("Even" if (num1 % 2 == 0) else "Odd")

Even
Even

Odd
Odd

#### String Processing

In [29]:
# string consists of alpha-numeric characters and special characters
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))

university 10 <class 'str'> 2400924420336

In [ ]:
# dealing with the string processing
Left to right ->   0  1  2  3  4  5  6  7  8  9
          str ->   u  n  i  v  e  r  s  i  t  y
Right to Left -> -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [42]:
# string indexing and slicing
mystr = "university"
print (mystr[6], mystr[-4], mystr[9], mystr[-1])
print (mystr[1:8], mystr[1:-2], mystr[-9:8], mystr[-9:-2])
print (mystr[6:], mystr[-4:], mystr[:6], mystr[:-4])
print (mystr[::2], mystr[1::2], mystr[8::-2], mystr[9::-2])
print (mystr[::-1])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])

s s y y
niversi niversi niversi niversi
sity sity univer univer
uiest nvriy tseiu yirvn
ytisrevinu
ver ver ver ver

In [43]:
mystr = "kIIt uniVersiTY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(40))

kIIt uniVersiTY 15 <class 'str'> 2400918823472
KIIT UNIVERSITY
kiit university
Kiit University
Kiit university
KiiT UNIvERSIty
            kIIt uniVersiTY
            KIIT UNIVERSITY

In [48]:
mystr = "abcdxyz"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.isnumeric(), mystr.isalpha(), mystr.isalnum(), mystr.isdigit())

mystr = "abcd123"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())

mystr = "1234567"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())

mystr = "abcd@123"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.isnumeric(), mystr.isalpha(), mystr.isalnum())

abcdxyz 7 2400923042864 <class 'str'>
False True True False
abcd123 7 2400923044528 <class 'str'>
False False True
1234567 7 2400919769264 <class 'str'>
True False True
abcd@123 8 2400919769136 <class 'str'>
False False False

In [93]:
mystr = "10.25"
print (mystr.isnumeric(), mystr.isdigit())
mystr = "1025"
print (mystr.isnumeric(), mystr.isdigit())
mystr = "abcd"
print (mystr.isnumeric(), mystr.isdigit())
mystr = "四"
print (mystr.isnumeric(), mystr.isdigit())
mystr = "चार"
print (mystr.isnumeric(), mystr.isdigit())
mystr = "    "
print (mystr.isspace())
mystr = "   g "
print (mystr.isspace())
# isdecimal() subset of isdigit() subset of isnumeric()

False False
True True
False False
True False
False False
True
False

In [58]:
mystr = "Good morning"
print (mystr.replace("morning", "night"))
print (mystr.replace("evening", "night"))
print (mystr)

Good night
Good morning
Good morning

In [64]:
mystr = "Charity begins at home"
print (mystr, len(mystr))
print (mystr.find("i"))
print (mystr.find("i", 2))
print (mystr.find("i", 6))
print (mystr.find("i", 12))

Charity begins at home 22
4
4
11
-1

In [65]:
mystr = "Charity begins at home"
print (mystr, len(mystr))
print (mystr.index("i"))
print (mystr.index("i", 2))
print (mystr.index("i", 6))
print (mystr.index("i", 12))

Charity begins at home 22
4
4
11

ValueError: substring not found

In [71]:
mystr = "    good    morning      "
print (mystr, len(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    good    morning       25
good    morning 15
good    morning       21
    good    morning 19

In [72]:
mystr = "@@#@good#@#@morning###@@@"
print (mystr, len(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

@@#@good#@#@morning###@@@ 25
good#@#@morning 15
good#@#@morning###@@@ 21
@@#@good#@#@morning 19

In [86]:
mystr = "Charity begins at home"
print (mystr, len(mystr))
print (mystr.startswith("Cha"))
print (mystr.startswith("beg"))
print (mystr.startswith("beg", 8))
print (mystr.startswith(" beg", 7))
print (mystr.startswith(" beg", 7, 9))

Charity begins at home 22
True
False
True
True
False

In [85]:
mystr = "Charity begins at home"
print (mystr, len(mystr))
print (mystr.endswith("me"))
print (mystr.endswith("ins"))
print (mystr.endswith("ins", 0, 14))
print (mystr.endswith("ins", 10, 14))

Charity begins at home 22
True
False
True
True

In [91]:
mystr = "Charity begins at home"
print (mystr, len(mystr))
list1 = mystr.split()
print (list1)
result = " ".join(list1)
print (result)
print()

list1 = mystr.split("i")
print (list1)
result = " - ".join(list1)
print (result)

Charity begins at home 22
['Charity', 'begins', 'at', 'home']
Charity begins at home

['Char', 'ty beg', 'ns at home']
Char - ty beg - ns at home

In [96]:
mystr = "madam"
for i in range(len(mystr)):
    print (i, mystr[i])

0 m
1 a
2 d
3 a
4 m

In [97]:
mystr = "madam"
for ch in mystr:
    print (ch)

m
a
d
a
m

In [ ]:
Class Assignment:
Input Name: "moHan dAs kARam chAnd ganDHI"
Output Name: "M. D. K. C. Gandhi"

In [102]:
mystr = "moHan dAs kARam chAnd ganDHI"
name_list = mystr.title().strip().split()
print (name_list)
outputstr = ""
for name_part in name_list[:len(name_list) - 1]:
    outputstr = outputstr + name_part[0] + ". "
outputstr += name_list[len(name_list) - 1]
print (outputstr)

['Mohan', 'Das', 'Karam', 'Chand', 'Gandhi']
M. D. K. C. Gandhi

#### List Processing

In [103]:
list1 = [200, 300, 400, 600, 100]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[200, 300, 400, 600, 100] 5 <class 'list'> 2400915648640
600 100
1600 320.0

In [107]:
list1 = ["Chennai", "Pune", "madurai", "Mumbai"]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai'] 4 <class 'list'> 2400919804608
madurai Chennai

In [110]:
list1 = ["Chennai", "Pune", 100, 300, "madurai", "Mumbai"]
print (list1, len(list1), type(list1), id(list1))
# print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['Chennai', 'Pune', 100, 300, 'madurai', 'Mumbai'] 6 <class 'list'> 2400917880000

In [112]:
# list indexing and slicing
# left to right    0          1       2          3
list1 =          ["Chennai", "Pune", "madurai", "Mumbai"]
# right to left   -4         -3      -2         -1
print (list1, len(list1), type(list1), id(list1))
print (list1[1], list1[-3])
print (list1[1:], list1[-3:])
print (list1[:3], list1[:-1])

['Chennai', 'Pune', 'madurai', 'Mumbai'] 4 <class 'list'> 2400916878272
Pune Pune
['Pune', 'madurai', 'Mumbai'] ['Pune', 'madurai', 'Mumbai']
['Chennai', 'Pune', 'madurai'] ['Chennai', 'Pune', 'madurai']

In [113]:
list1 = ["Chennai", "Pune", "madurai", "Mumbai"]
list2 = ["Boroda", "Delhi", "Kolkata", "Bangalore"]
list3 = list1 + list2
print (list3, len(list3))  # list concatenation

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8

In [118]:
list1 = ["Chennai", "Pune", "madurai", "Mumbai"]
list2 = ["Boroda", "Delhi", "Kolkata", "Bangalore", "Goa"]
list3 = [list1, list2]
print (list3, len(list3), len(list3[0]), len(list3[1]))  # list of lists, nested lists
print (list3[1][3][3:6])
print (list3[::-1])

[['Chennai', 'Pune', 'madurai', 'Mumbai'], ['Boroda', 'Delhi', 'Kolkata', 'Bangalore', 'Goa']] 2 4 5
gal
[['Boroda', 'Delhi', 'Kolkata', 'Bangalore', 'Goa'], ['Chennai', 'Pune', 'madurai', 'Mumbai']]

In [119]:
# insert operation
list1 = ["Chennai", "Pune"]
print (list1, len(list1))
list1.append("Kolkata")
print (list1, len(list1))
list1.append("Pune")
print (list1, len(list1))
list1.append("Mumbai")
print (list1, len(list1))

['Chennai', 'Pune'] 2
['Chennai', 'Pune', 'Kolkata'] 3
['Chennai', 'Pune', 'Kolkata', 'Pune'] 4
['Chennai', 'Pune', 'Kolkata', 'Pune', 'Mumbai'] 5

In [123]:
list1 = ["Chennai", "Pune"]
print (list1, len(list1))
list1.insert(1, "Kolkata")
print (list1, len(list1))
list1.insert(2, "Pune")
print (list1, len(list1))
list1.insert(0, "Mumbai")
print (list1, len(list1))

['Chennai', 'Pune'] 2
['Chennai', 'Kolkata', 'Pune'] 3
['Chennai', 'Kolkata', 'Pune', 'Pune'] 4
['Mumbai', 'Chennai', 'Kolkata', 'Pune', 'Pune'] 5

In [125]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
list1.remove("Pune")
print (list1, len(list1))
list1.remove("Delhi")
print (list1, len(list1))
list1.remove("Kolkata")
print (list1, len(list1))
list1.remove("Delhi")   # Error due to unsuccessful searching

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8
['Chennai', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 7
['Chennai', 'madurai', 'Mumbai', 'Boroda', 'Kolkata', 'Bangalore'] 6
['Chennai', 'madurai', 'Mumbai', 'Boroda', 'Bangalore'] 5

ValueError: list.remove(x): x not in list

In [136]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop(3))
print (list1, len(list1))
print (list1.pop(2))
print (list1, len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8
Bangalore
['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata'] 7
Kolkata
['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi'] 6
Mumbai
['Chennai', 'Pune', 'madurai', 'Boroda', 'Delhi'] 5
madurai
['Chennai', 'Pune', 'Boroda', 'Delhi'] 4

In [130]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8
[] 0

In [131]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
del list1
print (list1, len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8

NameError: name 'list1' is not defined

In [132]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
del list1[3]
print (list1, len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8
['Chennai', 'Pune', 'madurai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 7

In [135]:
list1 = ['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore']
print (list1, len(list1))
print (list1.index("Boroda"))
list1[5] = "NCR"
print (list1, len(list1))

['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'Delhi', 'Kolkata', 'Bangalore'] 8
4
['Chennai', 'Pune', 'madurai', 'Mumbai', 'Boroda', 'NCR', 'Kolkata', 'Bangalore'] 8

In [139]:
list1 = [True, True, False, True]
print (any(list1), all(list1))
list1 = [True, True, True, True]
print (any(list1), all(list1))
list1 = [False, False, False, False]
print (any(list1), all(list1))

True False
True True
False False

In [144]:
list1 = [400, 500, 200, 150, 700, 350]
print (list1, len(list1))
list1.sort()
print (list1, len(list1))
list1.sort(reverse=True)
print (list1, len(list1))

[400, 500, 200, 150, 700, 350] 6
[150, 200, 350, 400, 500, 700] 6
[700, 500, 400, 350, 200, 150] 6

In [145]:
list1 = [400, 500, 200, 150, 700, 350]
print (list1, len(list1))
list2 = sorted(list1)
print (list2, len(list2))

[400, 500, 200, 150, 700, 350] 6
[150, 200, 350, 400, 500, 700] 6

In [158]:
# implicit object
var1 = [100, 300, 40, 230]
print (var1, len(var1), type(var1))
var1 = []
print (var1, len(var1), type(var1))
var1 = (340, 560, 780, 120)
print (var1, len(var1), type(var1))
var1 = ()
print (var1, len(var1), type(var1))
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton notation of a tuple
print (var1, len(var1), type(var1))
var1 = {'Name':'Amit', 'designation':'Coder'}
print (var1, len(var1), type(var1))
var1 = {}
print (var1, len(var1), type(var1))
var1 = {100, 200, 100, 300, 200}
print (var1, len(var1), type(var1))
var1 = set()
print (var1, len(var1), type(var1))

[100, 300, 40, 230] 4 <class 'list'>
[] 0 <class 'list'>
(340, 560, 780, 120) 4 <class 'tuple'>
() 0 <class 'tuple'>
10 <class 'int'>
(10,) 1 <class 'tuple'>
{'Name': 'Amit', 'designation': 'Coder'} 2 <class 'dict'>
{} 0 <class 'dict'>
{200, 100, 300} 3 <class 'set'>
set() 0 <class 'set'>

In [162]:
list1 = [10, 30, 50]
list2 = [20, 40, 60, 80]
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2
print (list3, len(list3))
list1.extend(list2)
print (list1, len(list1))
print (list2, len(list2))

[10, 30, 50] 3
[20, 40, 60, 80] 4
[10, 30, 50, 20, 40, 60, 80] 7
[10, 30, 50, 20, 40, 60, 80] 7
[20, 40, 60, 80] 4

In [163]:
def myfunct(my_list):
    my_list[0] = 999
    
list1 = [100, 500, 200, 900]
print (list1, len(list1))
myfunct(list1)
print (list1, len(list1))

[100, 500, 200, 900] 4
[999, 500, 200, 900] 4

#### Tuple Processing

In [165]:
tuple1 = (200, 300, 400, 600, 100)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(200, 300, 400, 600, 100) 4 <class 'tuple'> 2400896540080
600 100
1600 320.0

In [166]:
tuple1 = ('200', '300', '400', '600', '100')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('200', '300', '400', '600', '100') 4 <class 'tuple'> 2400929784192
600 100

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [169]:
tuple1 = (200, 300, '400', '600', 100)
print (tuple1, len(list1), type(tuple1), id(tuple1))
# print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

(200, 300, '400', '600', 100) 4 <class 'tuple'> 2400896540080

In [172]:
tuple1 = ('guava', 'apple', 'pineapple', 'banana', 'orange')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (tuple1.index('pineapple'))
print (tuple1.index('apple'))
print (tuple1.index('Pineapple'))

('guava', 'apple', 'pineapple', 'banana', 'orange') 4 <class 'tuple'> 2400925446368
2
1

ValueError: tuple.index(x): x not in tuple

In [174]:
tuple1 = ('guava', 'apple', 'pineapple', 'banana', 'orange', 'apple', 'pineapple', 'banana', 'banana')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (tuple1.count('pineapple'))
print (tuple1.count('apple'))
print (tuple1.count('banana'))
print (tuple1.count('mango'))

('guava', 'apple', 'pineapple', 'banana', 'orange', 'apple', 'pineapple', 'banana', 'banana') 4 <class 'tuple'> 2400928604224
2
2
3
0

In [177]:
tuple1 = (200, 300, 400, 600, 100)
print (tuple1, len(list1), type(tuple1), id(tuple1))
# tuple1[3] = 6000
list1 = list(tuple1)
list1[3] = 6000
print (list1, len(list1), type(list1), id(list1))
tuple1 = tuple(list1)
print (tuple1, len(list1), type(tuple1), id(tuple1))

(200, 300, 400, 600, 100) 4 <class 'tuple'> 2400929083040
[200, 300, 400, 6000, 100] 5 <class 'list'> 2400920396480
(200, 300, 400, 6000, 100) 5 <class 'tuple'> 2400913155632

#### Dictionary Processing

In [180]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'desig':'Designer'}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.values())
print (dict1.keys())
print (dict1.items())

{'name': 'Anirban', 'desig': 'Designer', 'location': 'Pune'} 3 <class 'dict'> 2400915424000
dict_values(['Anirban', 'Designer', 'Pune'])
dict_keys(['name', 'desig', 'location'])
dict_items([('name', 'Anirban'), ('desig', 'Designer'), ('location', 'Pune')])

In [188]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get('location'))
print (dict1.get('salary'))
print (dict1.get('salary', 'Not available'))
print (dict1['location'])
print (dict1['desig'])
print (dict1['salary'])

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4 <class 'dict'> 2400919498816
Pune
None
Not available
Pune
Developer

KeyError: 'salary'

In [196]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1), type(dict1))
print (dict1.popitem())
print (dict1.popitem())
print (dict1.popitem())
print (dict1, len(dict1), type(dict1))

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4 <class 'dict'>
('qualification', 'Masters')
('location', 'Pune')
('desig', 'Developer')
{'name': 'Anirban'} 1 <class 'dict'>

In [195]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1), type(dict1))
print (dict1.pop('name'))
print (dict1.pop('location'))
print (dict1.pop('qualification'))
print (dict1, len(dict1), type(dict1))

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4 <class 'dict'>
Anirban
Pune
Masters
{'desig': 'Developer'} 1 <class 'dict'>

In [197]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1), type(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1))

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4 <class 'dict'>
{} 0 <class 'dict'>

In [198]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1), type(dict1))
del dict1
print (dict1, len(dict1), type(dict1))

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4 <class 'dict'>

NameError: name 'dict1' is not defined

In [199]:
mykeys = ['Key1', 'Key4', 'Key3', 'Key5']
value = 100
dict1 = dict.fromkeys(mykeys, value)
print (dict1, len(dict1), type(dict1))

{'Key1': 100, 'Key4': 100, 'Key3': 100, 'Key5': 100} 4 <class 'dict'>

In [201]:
mykeys = ['Key1', 'Key4', 'Key3', 'Key5']
values = [100, 400, 500, 100]
dict1 = dict.fromkeys(mykeys, values)
print (dict1, len(dict1), type(dict1))

{'Key1': [100, 400, 500, 100], 'Key4': [100, 400, 500, 100], 'Key3': [100, 400, 500, 100], 'Key5': [100, 400, 500, 100]} 4 <class 'dict'>

In [204]:
dict1 = {'name':'Anirban', 'desig':'Developer', 'location':'Pune', 'qualification':'Masters'}
print (dict1, len(dict1))
dict1.setdefault('location', 'Mumbai')
print (dict1, len(dict1))
dict1.setdefault('salary', 55000)
print (dict1, len(dict1))

{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4
{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4
{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters', 'salary': 55000} 5

In [212]:
fruits = ['apple', 'pineapple', 'lemon', 'mango', 'Lime', 'Orange']
prices = [300, 500, 600, 100]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))
print (dict(tuple(zip(fruits, prices))))
print (dict(zip(fruits, prices)))

<zip object at 0x0000022F02226040>
[('apple', 300), ('pineapple', 500), ('lemon', 600), ('mango', 100)]
(('apple', 300), ('pineapple', 500), ('lemon', 600), ('mango', 100))
{'apple': 300, 'pineapple': 500, 'lemon': 600, 'mango': 100}
{'apple': 300, 'pineapple': 500, 'lemon': 600, 'mango': 100}
{'apple': 300, 'pineapple': 500, 'lemon': 600, 'mango': 100}

In [214]:
dict1 = {'name':'Anirban', 'desig':'Developer'}
print (dict1, len(dict1))
dict2 = {'location':'Pune', 'qualification':'Masters'}
print (dict2, len(dict2))
dict1.update(dict2)
print (dict1, len(dict1))

{'name': 'Anirban', 'desig': 'Developer'} 2
{'location': 'Pune', 'qualification': 'Masters'} 2
{'name': 'Anirban', 'desig': 'Developer', 'location': 'Pune', 'qualification': 'Masters'} 4

In [ ]:
Class Assignment:
Find the frequency of each distinct character in a user given string.
Example:
    Input: missiccippi
    Output: m -> 1, s -> 2, c -> 2, p -> 2, i -> 4

In [215]:
myword = "missiccippi"
char_dict = {}
for ch in myword:
    if (ch in char_dict):
        char_dict[ch] += 1
    else:
        char_dict[ch] = 1
for items in char_dict.items():
    print (f"Character {items[0]} with frequency -> {items[1]}...")
print ("End of the program...")

Character m with frequency -> 1...
Character i with frequency -> 4...
Character s with frequency -> 2...
Character c with frequency -> 2...
Character p with frequency -> 2...
End of the program...

#### Dealing Set

In [219]:
# creating set from a list
fruits = ['coconut', 'mango', 'guava', 'pineapple', 'mango', 'guava', 'pineapple']
set1 = set(fruits)
print (set1, len(set1), type(set1), id(set1))

{'mango', 'coconut', 'guava', 'pineapple'} 4 <class 'set'> 2400928700224

In [220]:
# creating set directly
set1 = {'coconut', 'mango', 'guava', 'pineapple', 'mango', 'guava', 'pineapple'}
print (set1, len(set1), type(set1), id(set1))

{'mango', 'coconut', 'guava', 'pineapple'} 4 <class 'set'> 2400928700672

In [229]:
# set operation - union
snakes = set(['viper', 'cobra', 'python'])
languages = set(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.union(languages)
print (result, len(result), type(result))
result = snakes | languages
print (result, len(result), type(result))
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'c++', 'python', 'java'} 3 <class 'set'>
{'python', 'java', 'c++', 'viper', 'cobra'} 5 <class 'set'>
{'python', 'java', 'c++', 'viper', 'cobra'} 5 <class 'set'>
{'viper', 'cobra', 'python'} 3 <class 'set'>
{'c++', 'python', 'java'} 3 <class 'set'>

In [233]:
# set operation - intersection
snakes = set(['viper', 'cobra', 'python'])
languages = set(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.intersection(languages)
print (result, len(result), type(result))
result = snakes & languages
print (result, len(result), type(result))
print ("--------------------------------------------")
snakes.intersection_update(languages)
print (languages, len(languages), type(languages))
print (snakes, len(snakes), type(snakes))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'c++', 'python', 'java'} 3 <class 'set'>
{'python'} 1 <class 'set'>
{'python'} 1 <class 'set'>
--------------------------------------------
{'c++', 'python', 'java'} 3 <class 'set'>
{'python'} 1 <class 'set'>

In [236]:
# set operation - difference
snakes = set(['viper', 'cobra', 'python'])
languages = set(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.difference(languages)
print (result, len(result), type(result))
result = snakes - languages
print (result, len(result), type(result))
print ("--------------------------------------------")
snakes.difference_update(languages)
print (languages, len(languages), type(languages))
print (snakes, len(snakes), type(snakes))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'c++', 'python', 'java'} 3 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>
--------------------------------------------
{'c++', 'python', 'java'} 3 <class 'set'>
{'viper', 'cobra'} 2 <class 'set'>

In [238]:
# set operation - symmetric difference
snakes = set(['viper', 'cobra', 'python'])
languages = set(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.symmetric_difference(languages)
print (result, len(result), type(result))
result = snakes ^ languages
print (result, len(result), type(result))
print ("--------------------------------------------")
snakes.symmetric_difference_update(languages)
print (languages, len(languages), type(languages))
print (snakes, len(snakes), type(snakes))

{'viper', 'cobra', 'python'} 3 <class 'set'>
{'c++', 'python', 'java'} 3 <class 'set'>
{'c++', 'java', 'viper', 'cobra'} 4 <class 'set'>
{'c++', 'java', 'viper', 'cobra'} 4 <class 'set'>
--------------------------------------------
{'c++', 'python', 'java'} 3 <class 'set'>
{'c++', 'viper', 'cobra', 'java'} 4 <class 'set'>

In [246]:
set1 = set([100, 200, 300, 500, 400])
set2 = set([300, 400, 100])
set3 = set([600, 900, 800])
print (set1, len(set1))
print (set2, len(set2))
print (set3, len(set3))
print (set1.issubset(set2), set2.issubset(set1))
print (set1.isdisjoint(set2), set1.isdisjoint(set3))
print (set1.issuperset(set2), set2.issuperset(set1))

{100, 200, 300, 400, 500} 5
{400, 100, 300} 3
{600, 800, 900} 3
False True
False True
True False

In [248]:
languages = set(['java', 'python', 'c++'])
print (languages, len(languages))
languages.add('prolog')
languages.add('haskel')
languages.add('golang')
print (languages, len(languages), type(languages))

{'c++', 'python', 'java'} 3
{'haskel', 'prolog', 'c++', 'python', 'java', 'golang'} 6 <class 'set'>

In [251]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
print (languages.pop())
print (languages, len(languages))
print (languages.pop())
print (languages, len(languages))
print (languages.pop())
print (languages, len(languages))
print (languages.pop())
print (languages, len(languages))

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6
haskel
{'prolog', 'c++', 'java', 'python', 'golang'} 5
prolog
{'c++', 'java', 'python', 'golang'} 4
c++
{'java', 'python', 'golang'} 3
java
{'python', 'golang'} 2

In [252]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
languages.remove('c++')
print (languages, len(languages))
languages.remove('prolog')
print (languages, len(languages))
languages.remove('python')
print (languages, len(languages))

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6
{'haskel', 'prolog', 'java', 'python', 'golang'} 5
{'haskel', 'java', 'python', 'golang'} 4
{'haskel', 'java', 'golang'} 3

In [259]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
languages.discard('haskel')
print (languages, len(languages))
languages.discard('fortran')
print (languages, len(languages))
languages.remove('java')
print (languages, len(languages))
languages.remove('c')

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6
{'prolog', 'c++', 'java', 'python', 'golang'} 5
{'prolog', 'c++', 'java', 'python', 'golang'} 5
{'prolog', 'c++', 'python', 'golang'} 4

KeyError: 'c'

In [253]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
languages.clear()
print (languages, len(languages))

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6
set() 0

In [254]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
del languages
print (languages, len(languages))

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6

NameError: name 'languages' is not defined

In [255]:
languages = set(['haskel', 'prolog', 'c++', 'python', 'java', 'golang'])
print (languages, len(languages))
languages.remove('python')
print (languages, len(languages))
languages.add('python 11.0')
print (languages, len(languages))

{'haskel', 'prolog', 'c++', 'java', 'python', 'golang'} 6
{'haskel', 'prolog', 'c++', 'java', 'golang'} 5
{'haskel', 'prolog', 'c++', 'java', 'golang', 'python 11.0'} 6

In [261]:
set1 = set(['perl', 'python', 'cobol'])
print (set1, len(set1))
set2 = set(['c++', 'r', 'kotlin'])
print (set2, len(set2))
set1.update(set2)
print (set1, len(set1))
print (set2, len(set2))

{'cobol', 'python', 'perl'} 3
{'c++', 'r', 'kotlin'} 3
{'r', 'python', 'kotlin', 'cobol', 'c++', 'perl'} 6
{'c++', 'r', 'kotlin'} 3

#### Dealing Frozen Set

In [221]:
# creating frozenset from a list
fruits = ['coconut', 'mango', 'guava', 'pineapple', 'mango', 'guava', 'pineapple']
set1 = frozenset(fruits)
print (set1, len(set1), type(set1), id(set1))

frozenset({'mango', 'coconut', 'guava', 'pineapple'}) 4 <class 'frozenset'> 2400928698656

In [223]:
set1 = frozenset(['coconut', 'mango', 'guava', 'pineapple', 'mango', 'guava', 'pineapple'])
print (set1, len(set1), type(set1), id(set1))

frozenset({'mango', 'coconut', 'guava', 'pineapple'}) 4 <class 'frozenset'> 2400928700224

In [234]:
# frozenset operation - union
snakes = frozenset(['viper', 'cobra', 'python'])
languages = frozenset(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.union(languages)
print (result, len(result), type(result))
result = snakes | languages
print (result, len(result), type(result))
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'c++', 'python', 'java'}) 3 <class 'frozenset'>
frozenset({'python', 'java', 'c++', 'viper', 'cobra'}) 5 <class 'frozenset'>
frozenset({'python', 'java', 'c++', 'viper', 'cobra'}) 5 <class 'frozenset'>
frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'c++', 'python', 'java'}) 3 <class 'frozenset'>

In [235]:
# frozenset operation - intersection
snakes = frozenset(['viper', 'cobra', 'python'])
languages = frozenset(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.intersection(languages)
print (result, len(result), type(result))
result = snakes & languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'c++', 'python', 'java'}) 3 <class 'frozenset'>
frozenset({'python'}) 1 <class 'frozenset'>
frozenset({'python'}) 1 <class 'frozenset'>

In [237]:
# frozenset operation - difference
snakes = frozenset(['viper', 'cobra', 'python'])
languages = frozenset(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.difference(languages)
print (result, len(result), type(result))
result = snakes - languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'c++', 'python', 'java'}) 3 <class 'frozenset'>
frozenset({'viper', 'cobra'}) 2 <class 'frozenset'>
frozenset({'viper', 'cobra'}) 2 <class 'frozenset'>

In [240]:
# frozenset operation - symmetric difference
snakes = frozenset(['viper', 'cobra', 'python'])
languages = frozenset(['java', 'python', 'c++'])
print (snakes, len(snakes), type(snakes))
print (languages, len(languages), type(languages))
result = snakes.symmetric_difference(languages)
print (result, len(result), type(result))
result = snakes ^ languages
print (result, len(result), type(result))

frozenset({'viper', 'cobra', 'python'}) 3 <class 'frozenset'>
frozenset({'c++', 'python', 'java'}) 3 <class 'frozenset'>
frozenset({'c++', 'java', 'viper', 'cobra'}) 4 <class 'frozenset'>
frozenset({'c++', 'java', 'viper', 'cobra'}) 4 <class 'frozenset'>

In [247]:
set1 = frozenset([100, 200, 300, 500, 400])
set2 = frozenset([300, 400, 100])
set3 = frozenset([600, 900, 800])
print (set1, len(set1))
print (set2, len(set2))
print (set3, len(set3))
print (set1.issubset(set2), set2.issubset(set1))
print (set1.isdisjoint(set2), set1.isdisjoint(set3))
print (set1.issuperset(set2), set2.issuperset(set1))

frozenset({100, 200, 300, 400, 500}) 5
frozenset({400, 100, 300}) 3
frozenset({600, 800, 900}) 3
False True
False True
True False